{
	"presets": [
		"@babel/preset-env"
	],
	"plugins": [
		"@babel/plugin-proposal-export-default-from",
		"@babel/plugin-proposal-function-bind",
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-transform-runtime",
		"@babel/plugin-syntax-jsx",
		"transform-vue-jsx",
		[
			"@babel/plugin-proposal-decorators", 
			{ 
				"legacy": true 
			}
		],
		[
			"import",
			{
				"libraryName": "iview",
				"libraryDirectory": "src/components"
			},
			"iview"
		]
	]
}