{
	"extends": "stylelint-config-standard",
	"rules": {
		"at-rule-no-unknown": null,
		"at-rule-empty-line-before": null,
		"block-closing-brace-newline-after": null,
		"block-closing-brace-empty-line-before": null,
		"declaration-empty-line-before": null,
		"font-family-no-missing-generic-family-keyword": null,
		"function-name-case": null,
		"indentation": "tab",
		"no-descending-specificity": null,
		"no-eol-whitespace": null,
		"property-no-unknown": null,
		"rule-empty-line-before": null,
		"selector-list-comma-newline-after": null,
		"selector-pseudo-element-colon-notation": null,
		"unit-no-unknown": null
	}
}
