// 主要颜色
$red: #ca1622;

$pink: #fa5a6e;
$pink_1: #fff2ea;

$orange: #fe9053;
$orange_1: #fe9053;

$green: #56c16d;
$green_1: #06bf04;

$blue: #2e76ef;
$blue_1: #16a3ff;
$blue_2: #0b76fe;
$blue_3: #4e4aff;

$yellow: #ffd31c;

$purple: #c851ea;

$gray_1: #333;
$gray_2: #666;
$gray_3: #999;
$gray_4: #fefefe;
$gray_5: #f7f7f7;

$white: #fff;
$black: #000;
