@mixin commonBgLinear($angle: to bottom, $start: #fff, $end: #000) {
	background: $end;
	background-image: linear-gradient($angle, $start, $end);
}

/**
 * 水平垂直居中
 */

@mixin commonFlexCc {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}

/**
 * 水平垂直居中
 */

@mixin commonFlex {
	display: flex;
	box-sizing: border-box;
}

/**
 * 文字相关
 */

/**
 * 一行文字
 */

@mixin commonEllipsis {
	width: auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin commonTextLine($line) {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
}

/**
 * 单词换行
 */

@mixin commonBreak {
	word-break: break-all;
	word-wrap: break-word;
}

/**
 * [commonClearfix 清除浮动]
 * @return {[type]} [description]
 */

@mixin commonClearfix($content: false) {
	zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: block; // 父类为flex, 使用table无法撑开
		clear: both;
		@if $content {
			@content;
		} @else {
			visibility: hidden;
			font-size: 0;
			height: 0;
		}
 		
	}
}

@mixin commonScroll($size: 4px) {
	/**
	 * scrollbar width
	 */
	&::-webkit-scrollbar {
		width: $size; // 很有影响
	}

	::-webkit-scrollbar:horizontal {
		height: $size;
	}

	/**
	 * scrollbar bg
	 */
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0);
	}

	/**
	 * Handle
	 */
	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 5px;
		border-radius: 5px;
		background: rgba(0, 0, 0, 0.2);
	}
}

/**
 * 1px
 * 已为父元素添加position: relative;
 * 其他只操作before和after;
 * 暂时不抽离公用
 */

@mixin commonBorder1PX($direction: '', $color: $border-line-color) {
	position: relative;
	transform: translateZ(0);
	& {
		&:before,
		&:after {
			position: absolute;
			content: " ";
			display: block; // 父类为flex, 使用table无法撑开
			clear: both;
			box-sizing: border-box;
			pointer-events: none;
			z-index: 1; // 层级应高于其他元素, 否则描边会被遮挡 
			border-radius: inherit; // 圆角集成
		}
		@if $direction == 'top' {
			&:before {
				border-top: 1px solid $color;
				left: 0;
				top: 0;
				width: 100%;
				transform-origin: 0 top;
			}
		} @else if $direction == 'right' {
			&:after {
				border-right: 1px solid $color;
				top: 0;
				right: 0;
				height: 100%;
				transform-origin: right 0;
			}
		} @else if $direction == 'bottom' {
			&:after {
				border-bottom: 1px solid $color;
				left: 0;
				bottom: 0;
				width: 100%;
				transform-origin: 0 bottom;
			}
		} @else if $direction == 'left' {
			&:before {
				border-left: 1px solid $color;
				top: 0;
				left: 0;
				height: 100%;
				transform-origin: left 0;
			}
		} @else {
			&:after {
				border: 1px solid $color;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				transform-origin: 0 0;
			}
		}
	}
	@media (min-resolution: 2dppx) {
		& {
			@if $direction == 'top' {
				&:before {
					width: 200%;
					transform: scale(0.5);
				}
			} @else if $direction == 'right' {
				&:after {
					height: 200%;
					transform: scale(0.5);
				}
			} @else if $direction == 'bottom' {
				&:after {
					width: 200%;
					transform: scale(0.5);
				}
			} @else if $direction == 'left' {
				&:before {
					height: 200%;
					transform: scale(0.5);
				}
			} @else {
				&:after {
					width: 200%;
					height: 200%;
					transform: scale(0.5);
				}
			}
		}
	}
	@media (min-resolution: 3dppx) {
		& {
			@if $direction == 'top' {
				&:before {
					width: 300%;
					transform: scale(0.333);
				}
			} @else if $direction == 'right' {
				&:after {
					height: 300%;
					transform: scale(0.333);
				}
			} @else if $direction == 'bottom' {
				&:after {
					width: 300%;
					transform: scale(0.333);
				}
			} @else if $direction == 'left' {
				&:before {
					height: 300%;
					transform: scale(0.333);
				}
			} @else {
				&:after {
					width: 300%;
					height: 300%;
					transform: scale(0.333);
				}
			}
		}
	}
}
