@import "../../node_modules/normalize.css";

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*,
:before,
:after, {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
	color: #515a6e;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	margin: 0;
	padding: 0;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

input::-ms-clear, input::-ms-reveal {
	display: none;
}

input::-webkit-search-cancel-button {
	display: none;
}

a {
	color: #2d8cf0;
	background: transparent;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	transition: color 0.2s ease;
	&:hover {
		color: #57a3f3;
	}

	&:active {
		color: #2b85e4;
	}

	&:active,
	&:hover {
		outline: 0;
		text-decoration: none;
	}

	&[disabled] {
		color: #ccc;
		cursor: not-allowed;
		pointer-events: none;
	}
}

code,
kbd,
pre,
samp {
	font-family: Consolas, Menlo, Courier, monospace;
}
